<footer id="footer" class="footer-down">
    <div>
        <div class="col-lg-12">
            <div>
                <h2 class="editContent" data-selector=".editContent" style="color: #01d099">TotalStats</h2>
            </div>
        </div>
        <div >
            <div class="row">
                <div  class="col-md-12">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#" style="color: #01d099" routerLink="about">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#"style="color: #01d099" routerLink="contact">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#"style="color: #01d099" routerLink="terms">Terms of us</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item" >
                            <a href="#" style="color: #01d099" routerLink="privacy">Privacy</a>
                        </li>
                        <li class="list-inline-item" >
                            <a>© 2024 TotalStats . All rights reserved</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</footer>
