<div class="hero-header hero-bg bg-image-builder"
     style="max-height: 700px; background: url(&quot;../assets/jumbotron-back.jpeg&quot;);" data-selector=".bg-image-builder">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 no-margin">
                <h1 class="editContent header-2 padding-mini" data-selector=".editContent"
                    style="outline: none;
             outline-offset: -2px; cursor: inherit;
              color: rgb(255, 255, 255); font-size: 48px; background-color: rgba(0, 0, 0, 0);
              font-family: raleway, sans-serif;">Welcome to TotalStats</h1>
            </div>
            <div class="col-lg-12 no-margin"
                 style="outline: none;
             outline-offset: -2px; cursor: inherit">
                <a class="btn btn-dark btn-lg mt-4 mb-0"
                   routerLink="/nba-predictions"
                   role="button">
                    NBA Predictions
                </a>
            </div>
          <div class="col-lg-12 no-margin"
               style="outline: none;
             outline-offset: -2px; cursor: inherit">
            <a class="btn btn-dark btn-lg mt-4 mb-0"
               routerLink="/mlb-predictions"
               role="button">
              MLB Predictions
            </a>
          </div>

          <div class="col-lg-12 no-margin"
               style="outline: none;
             outline-offset: -2px; cursor: inherit">
            <a class="btn btn-dark btn-lg mt-4 mb-0"
               routerLink="/nfl-predictions"
               role="button">
              NFL Predictions
            </a>
          </div>
          <div class="col-lg-12">
          </div>
        </div>
    </div>
</div>
